@tailwind base;
@tailwind components;
@tailwind utilities;

#editorjs-task-description .ce-header {
  font-weight: bold;
}

h1.ce-header {
  font-size: 1.875rem; /* equivalent to text-3xl in Tailwind */
  font-weight: 900; /* equivalent to font-black in Tailwind */
}

h2.ce-header {
  font-size: 1.5rem; /* equivalent to text-2xl in Tailwind */
}

h3.ce-header {
  font-size: 1.25rem; /* equivalent to text-xl in Tailwind */
}

h4.ce-header {
  font-size: 1.125rem; /* equivalent to text-lg in Tailwind */
  font-weight: 600; /* equivalent to font-semibold in Tailwind */
}

h5.ce-header {
  font-weight: 600; /* equivalent to font-semibold in Tailwind */
}

h6.ce-header {
  font-size: 0.875rem; /* equivalent to text-sm in Tailwind */
  font-weight: 500; /* equivalent to font-medium in Tailwind */
}
